<mat-toolbar class="logo">

  <span>

    <a>

      <img src="https://api.edupass.io/api/contents/assets/logo.png" alt="logo">

    </a>

  </span>


  <span>

    <div class="search">
      <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Pesquisar"  aria-describedby="addon-wrapping">
        <span class="input-group-text" id="addon-wrapping"><mat-icon aria-hidden="false">search</mat-icon></span>
      </div>

  </div>

  </span>

  <div class="inicio-menu">

<a class="inicio px-5" href="">Início</a>


<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic">
    Olá, Aluno <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
    <li role="menuitem"><a class="dropdown-item" href="#">Meu perfil</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Configurações</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Meus Cursos</a></li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Sair</a>
    </li>
  </ul>
</div>

</div>

</mat-toolbar>



